[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Fork to fix `build.sh: line 27: syntax error near unexpected token`
[access "refs/*"]
	owner = group user/damiankrolik
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/damiankrolik
	label-Verified = -1..+1 group user/damiankrolik
	push = group user/damiankrolik
	read = group user/damiankrolik
	rebase = group user/damiankrolik
	removeReviewer = group user/damiankrolik
	submit = group user/damiankrolik
[access "refs/heads/*"]
	create = group user/damiankrolik
	push = +force group user/damiankrolik
	pushMerge = group user/damiankrolik
	read = group user/damiankrolik
[access "refs/tags/*"]
	push = group user/damiankrolik
	push = +force group user/damiankrolik
